# Introduction to Python for Open Source Geocomputation

![python](pics/python-logo-master-v3-TM.png)


* Instructor: Dr. Wei Kang
* Class Location and Time: ENV 336, Mon & Wed 12:30 pm - 1:50 pm

Content:

* Lists - continued
* Tuples

# Standard Data Types in Python - lists

| Category of Data type | Data type            | Example    |
| -------------- | -------------------- | ---------- |
| Numeric, scalar         | Integer| 1       |
|        | Floats   | 1.2   |
|          | Complex    | 1.5+0.5j  |
|         | Booleans   | True    |
| Container    | strings   | "Hello World"   |
|     | List   | [1, "Hello World"]  |
|     | Tuple   | (1, "Hello World")  |
|     | Set   | {1, "Hello World"}   |
|     | Dictionary   | {1: "Hello World", 2: 100} |

### Iteration with `for` statements on a list

A Python `for` statement iterates over the items of a sequence. Say you have a list called `fruits` containing a sequence of strings with fruit names:

```python
fruits = ['apple', 'banana', 'orange', 'cherry', 'mandarin']
```` 

you can write a statement like

```Python
for fruit in fruits:
```
to do something with each item in the list.

In [1]:
fruits = ['apple', 'banana', 'orange', 'cherry', 'mandarin']
for fruit in fruits:
    print(fruit)

apple
banana
orange
cherry
mandarin

In [2]:
fruits = ['apple', 'banana', 'orange', 'cherry', 'mandarin']
for i in fruits:
    print(i)

apple
banana
orange
cherry
mandarin

In [3]:
fruits = ['apple', 'banana', 'orange', 'cherry', 'mandarin']
for fruit in fruits:
    print(fruits)

['apple', 'banana', 'orange', 'cherry', 'mandarin']
['apple', 'banana', 'orange', 'cherry', 'mandarin']
['apple', 'banana', 'orange', 'cherry', 'mandarin']
['apple', 'banana', 'orange', 'cherry', 'mandarin']
['apple', 'banana', 'orange', 'cherry', 'mandarin']

In [4]:
fruits = ['apple', 'banana', 'orange', 'cherry', 'mandarin']

for fruit in fruits:
    print("Eat your", fruit, "everday")
    #print function can accept many values separated by comma (spaces are inserted between values)

Eat your apple everday
Eat your banana everday
Eat your orange everday
Eat your cherry everday
Eat your mandarin everday

We can use `for` loop to update each element according to some rule in a list. 

In the following example, we try to multiply each element in a numerical list by 2:

In [5]:
list_numbers = [1,2,3,4]
list_numbers

[1, 2, 3, 4]

In [6]:
list_numbers * 2

[1, 2, 3, 4, 1, 2, 3, 4]

Using `*` directly between the list and number `2` does not work as this will do the repetition of the list.

We can `for` loop to update each element according to some rule (multiple it by `2`) in a list:

In [7]:
list_numbers = [1,2,3,4]
for i in range(len(list_numbers)):
    list_numbers[i] = list_numbers[i] * 2 #assign the calculated number to each item of the list
    print(i, list_numbers)
list_numbers

0 [2, 2, 3, 4]
1 [2, 4, 3, 4]
2 [2, 4, 6, 4]
3 [2, 4, 6, 8]

[2, 4, 6, 8]

### _Translate that!_

* What is a list in python? What are its properties?

## List Methods 

* `list.append()`: adds a new element to the end of a list
* `list.extend()`: takes a list as an argument and appends all of the elements
* `list.sort()`: arranges the elements of the list from low to high (ascending order)
* `list.reverse()`: reverse the list
* `list.remove()`: remove the given element in a list
* `list.pop()`: Remove and return item at index (default last).

Most list methods are void; they modify the list and return `NoneType`
They are also called **in-place** methods: 

* modify the original list object
* don't return anything, but rather work on the object's data.

In [9]:
y=[]

In [10]:
y

[]

In [11]:
y.append(10)

In [12]:
y

[10]

In [13]:
z = y.append(10)

In [14]:
type(z)

NoneType

In [15]:
y

[10, 10]

In [16]:
x=[1,2,3]

In [17]:
x.append(y)

In [18]:
x

[1, 2, 3, [10, 10]]

In [19]:
y

[10, 10]

In [20]:
x.extend(y)

In [21]:
x

[1, 2, 3, [10, 10], 10, 10]

In [22]:
x.extend(10)

TypeError: 'int' object is not iterable

In [ ]:
x.extend([10])

In [ ]:
x

In [ ]:
x.append(10)

In [23]:
x

[1, 2, 3, [10, 10], 10, 10]

In [24]:
x.append([10])

In [25]:
x

[1, 2, 3, [10, 10], 10, 10, [10]]

In [26]:
y

[10, 10]

In [27]:
x + y

[1, 2, 3, [10, 10], 10, 10, [10], 10, 10]

Note the subtle difference between the two methods. Sometimes you will want to
use append, and other times extend is what you need.

In [28]:
x=[ 7, 1, 3,12]

In [29]:
x.sort()

In [30]:
x.sort?

In [31]:
x

[1, 3, 7, 12]

In [32]:
x.reverse()

In [33]:
x

[12, 7, 3, 1]

In [34]:
x = [12, 7, 3, 1]

In [35]:
x.remove(7)
x

[12, 3, 1]

In [36]:
x.remove(7)
x

ValueError: list.remove(x): x not in list

### _Translate that!_

* What is an in-place method in python?

### Lists as Stacks with `list.pop()`

A stack is a linear data structure that follows the principle of **Last In First Out (LIFO)**.

<img src="pics/stack.jpg" width="500"/>

In [37]:
x = [1,2,3]

In [38]:
x.pop()

3

In [39]:
x

[1, 2]

In [40]:
x.pop()

2

In [41]:
x

[1]

### Lists as Queues with `list.pop(0)`

A queue is a linear data structure that follows the principle of First In First Out (FIFO) order

<img src="pics/queue.jpg" width="800"/>

In [42]:
x = [1,2,3]

In [43]:
x.pop(0)

1

In [44]:
x

[2, 3]

In [45]:
x.pop(0)

2

In [46]:
x

[3]

In [47]:
x.pop(0)

3

In [48]:
x

[]

## Lists and Strings

* spliting a string into a list of substrings `str.split([delimiter])`
* combine a list of substrings into a string `delimiter.join(list)`

In [49]:
s = 'spam-spam-spam'

In [50]:
s.split("-")

['spam', 'spam', 'spam']

In [51]:
list_s = s.split("-")
list_s

['spam', 'spam', 'spam']

In [52]:
"-".join(list_s)

'spam-spam-spam'

In [53]:
" ".join(list_s)

'spam spam spam'

In [54]:
"--".join(list_s)

'spam--spam--spam'

In [55]:
";;;;;".join(list_s)

'spam;;;;;spam;;;;;spam'

## Further readings

* [tutorial on Lists](https://realpython.com/python-lists-tuples/)

# Standard Data Types in Python - Tuples

| Category of Data type | Data type            | Example    |
| -------------- | -------------------- | ---------- |
| Numeric, scalar         | Integer| 1       |
|        | Floats   | 1.2   |
|          | Complex    | 1.5+0.5j  |
|         | Booleans   | True    |
| Container    | strings   | "Hello World"   |
|     | List   | [1, "Hello World"]  |
|     | Tuple   | (1, "Hello World")  |
|     | Set   | {1, "Hello World"}   |
|     | Dictionary   | {1: "Hello World", 2: 100} |

## Tuples in python

* Similar to lists
    * Ordered sequence
    * each item/element can be of any type
    * Exception: immutable

## Creating Tuples

* assignment statement: `t = (1,2,"a")` 
    * Having the comma(s) is very important
* function `tuple()`

In [56]:
t = (1,2,3,'a','b','stella')

In [57]:
type(t)

tuple

In [58]:
t

(1, 2, 3, 'a', 'b', 'stella')

In [59]:
s=1,2,3,'a','b','stella'
s

(1, 2, 3, 'a', 'b', 'stella')

In [60]:
type(s)

tuple

In [61]:
x=1,
x

(1,)

In [62]:
type(x)

tuple

In [63]:
y = 1

In [64]:
type(y)

int

In [65]:
t2 = ('a')
t2

'a'

In [66]:
type(t2)

str

In [67]:
t3 = ('a', )
t3

('a',)

In [68]:
type(t3)

tuple

Creating a tuple using the built-in function `tuple()`. The input needs to be iterable (container data type).

In [69]:
tuple()

()

In [70]:
tuple("python")

('p', 'y', 't', 'h', 'o', 'n')

In [71]:
tuple([1,2,3])

(1, 2, 3)

### indexing and slicing tuples

* similar to lists and strings

In [72]:
s=1,2,3,'a','b','stella'
s

(1, 2, 3, 'a', 'b', 'stella')

In [73]:
s[0]

1

In [74]:
s[1:-1]

(2, 3, 'a', 'b')

### Two Tuple Methods

* `tuple.count()`: Return number of occurrences of value.
* `tuple.index()`: Return first index of value.

In [75]:
mytupe = 'a', 'b', 'c'
mytupe

('a', 'b', 'c')

In [76]:
mytupe.count('a')

1

In [77]:
mytupe.index('b')

1

In [78]:
mytupe.index('f')

ValueError: tuple.index(x): x not in tuple

## Tuple Operations

* Concatenation with `+` (similar to strings)
* Repetition with `*` (similar to strings)

In [79]:
mytupe = 'a', 'b', 'c'
histupe = 1,2,3

In [80]:
mytupe + histupe

('a', 'b', 'c', 1, 2, 3)

In [81]:
histupe * 4

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [82]:
mytupe * 4

('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

### Tuples are immutable!

In [83]:
mytupe

('a', 'b', 'c')

In [84]:
mytupe[0] = "c"

TypeError: 'tuple' object does not support item assignment

### Tuples are Nestable

* similar to lists
* Note that while the tuple is immutable, if it contains any elements that are mutable (e.g., lists) we can change the elements of the mutable elements of the tuple.

In [85]:
b=(1,2,3)
t=(b,'a','melissa')
t

((1, 2, 3), 'a', 'melissa')

In [86]:
t[0][0]

1

In [87]:
t[0][0]=100
t

TypeError: 'tuple' object does not support item assignment

In [88]:
l=[1,2,3]
t=(l,'a','melissa')
t

([1, 2, 3], 'a', 'melissa')

In [89]:
t[0][0]=100
t

([100, 2, 3], 'a', 'melissa')

In [90]:
l=(1,2,3)
t=(l,'a','melissa')
t

((1, 2, 3), 'a', 'melissa')

In [91]:
t[0]='d'

TypeError: 'tuple' object does not support item assignment

In [92]:
t[1]='d'

TypeError: 'tuple' object does not support item assignment

### Converting Between Lists and Tuples

* convertinng from list to tuple: `tuple()`
* convertinng from tuple to list: `list()`

In [93]:
list_a = [1,2,3]

In [94]:
tuple(list_a)

(1, 2, 3)

In [95]:
list(tuple(list_a))

[1, 2, 3]

### Group exercise

Write code to change the value of the first item in the tuple `mytupe = ('a', 'b', 'c')` to  `'d'`

```python

mytupe = ('a', 'b', 'c')

```

> When you are done, raise your hand!

In [96]:
mytupe[0] = "d"

TypeError: 'tuple' object does not support item assignment

In [97]:
mytupe = ('a', 'b', 'c')

In [98]:
mytupe_list = list(mytupe)
mytupe_list

['a', 'b', 'c']

In [99]:
mytupe_list[0] = "d"

In [100]:
mytupe_list

['d', 'b', 'c']

In [101]:
mytupe = tuple(mytupe_list)
mytupe

('d', 'b', 'c')

In [102]:
("c", ) + mytupe[1:]

('c', 'b', 'c')

In [103]:
list_mytupe = list(mytupe)
list_mytupe[0] = "d"
list_mytupe

['d', 'b', 'c']

In [104]:
mytupe = tuple(list_mytupe)

In [105]:
mytupe

('d', 'b', 'c')

### _Translate that!_

* What is a tuple in python?
* What are the differences between a list and a tuple in python?

## Further readings

* [Lists and Tuples in Python](https://realpython.com/python-lists-tuples/)